// если вы хотите использовать sass-переменные - удалите root
// colors

:root {
  --burger-width: 20px;
  --burger-height: 18px;
  --burger-line-height: 2px;
  /*Все цвета в Figm-e*/
  --color-white: #fff;
  --color-black: #333;
  --color-mine-shaft: #202020;
  --color-tundora: #4a4a4a;
  --color-doveGray: #666;
  --color-dustyGray: #999;
  --color-silver4: #c4c4c4;
  --color-silver: #cacaca; 
  --color-silverB: #bcbcbc;   
  --color-mercury: #e9e9e9;
  --color-tuscany: #bc572b;
  --color-grenadier: #ce4307;
  --color-burning-orange: #ff6e30;
  --color-burnt-sienna: #f06666;
  --color-romantic: #ffd4c1;
  --color-red-orange: #ff3030;
}
