<section class="about" id="about">
  <div class="container about__container">
    <div class="about__left">
      <h3 class="about__left-h3 title-h3">О студии</h3>
      <p class="about__desrc desrc-p">В рамках спецификации современных стандартов, интерактивные прототипы,
        инициированные исключительно синтетически, ограничены исключительно образом мышления. Предварительные выводы
        неутешительны: высокотехнологичная концепция общественного
        уклада требует от нас анализа соответствующих условий активизации! Следует отметить, что семантический
        разбор внешних противодействий фиксирует необходимость распределения внутренних резервов и ресурсов.
        Безусловно, граница обучения
        кадров предоставляет широкие возможности для первоочередных требований. Повседневная практика показывает,
        что глубокий уровень погружения предполагает независимые способы реализации новых принципов формирования
        материально-технической
        и кадровой базы. Приятно, граждане, наблюдать, как явные признаки институционализации являются только
        методом политического участия и нарушающими общечеловеческие нормы этики.
      </p>
    </div>
    <div class="about__right">
      <div class="about__camera-jpg"></div>
      <h4 class="about__right-h4 title-h4">Подписаться на рассылку</h4>
      <form class="about__form" aria-label="Подписаться на рассылку"
        action="https://jsonplaceholder.typicode.com/posts" method="POST" novalidate="novalidate">
        <div class="about__block-input">
          <input class="about__input" aria-label="Введите ваш E-mail" type="email" name="email" placeholder="E-mail"
            minlength="7" maxlength="25" required>
        </div>
        <button class="about__button btn" type="submit">Отправить</button>
      </form>
    </div>
  </div>
</section>