<section class="photoset" id="photoset">
  <div class="container photoset__container">  
    <div class="photoset__grid">
      <!--фоновая-->
      <div class="photoset__subGrid">
        <div class="photoset__subGrid-content">
          <span class="photoset__span">#мастеркласс</span>
          <p class="photoset__desrc desrc-p">Мастер-класс от Игоря Робова</p>
          <h2 class="photoset__h2 title-h2">Неоновый фотосет 2.0 7 июля 20:00</h2>
          <button class="photoset__button btn" type="submit">Узнать больше</button>
        </div>
      </div>
      <div class="photoset__subGrid">
        <h3 class="photoset__h3 title-h3">Работы участников предыдущего мастер-класса</h3>
        <picture>
          <source srcset="./img/photoset2-320.jpg" media="(max-width: 320px)">
          <source srcset="./img/photoset2-768.jpg" media="(max-width: 768px)">
          <source srcset="./img/photoset2-1024.jpg" media="(max-width: 1024px)">
          <img class="photoset__gridFoto-2" src="./img/photoset2.jpg" alt="">
        </picture>
      </div>
      <ul class="photoset__subGrid">
        <li class="photoset__small">
          <picture>
            <source srcset="./img/photoset3-320.jpg" media="(max-width:320px)">
            <source srcset="./img/photoset3-768.jpg" media="(max-width: 768px)">
            <source srcset="./img/photoset3-1024.jpg" media="(max-width: 1024px)">
            <img class="photoset__subGridFoto-3" src="img/photoset3.jpg" alt="">
          </picture>
        </li>
        <li class="photoset__small">
          <picture>
            <source srcset="./img/photoset4-320.jpg" media="(max-width: 320px)">
            <source srcset="./img/photoset4-768.jpg" media="(max-width: 768px)">
            <source srcset="./img/photoset4-1024.jpg" media="(max-width: 1024px)">
            <img class="photoset__subGridFoto-4" src="img/photoset4.jpg" alt="">
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>