<section class="projects" id="projects">
  <div class="container projects__container">
    <h3 class="projects__h3 title-h3">Наши проекты</h3>
    <ul class="projects__listGrid">
      <li class="projects__item projects__item_small projects__item_1">
        <article class="projects__article">
          <!-- Для семантики если нет заголовка h2 в вёрстке. Ставим скрытый заголовок.-->
          <h2 class="visually-hidden">Я для семантики</h2>
          <div class="projects__card">
            <span class="projects__span">#пейзаж</span>
            <picture>
              <source srcset="./img/projects1-320.jpg" media="(max-width: 535px)">
              <source srcset="./img/projects1-768.jpg" media="(max-width: 929px)">
              <source srcset="./img/projects1-1024.jpg" media="(max-width: 1310px)">
              <img class="projects__img" src="img/projects1.jpg" alt="пейзаж">
            </picture>
          </div>
          <div class="projects__block">
            <a class="projects__link" href="#">
              Синтетически, смешаны с не уникальными данными до степени...
            </a>
            <span class="projects__time">
              <svg width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.6667 1.75004H11.0833V0.583374H9.91666V1.75004H4.08332V0.583374H2.91666V1.75004H2.33332C1.69166 1.75004 1.16666 2.27504 1.16666 2.91671V12.25C1.16666 12.8917 1.69166 13.4167 2.33332 13.4167H11.6667C12.3083 13.4167 12.8333 12.8917 12.8333 12.25V2.91671C12.8333 2.27504 12.3083 1.75004 11.6667 1.75004ZM11.6667 12.25H2.33332V4.66671H11.6667V12.25Z"
                  fill="#999999" />
              </svg>
              16 июня
            </span>
          </div>
        </article>
      </li>
      <li class="projects__item projects__item_small projects__item_2">
        <article class="projects__article">
          <!-- Для семантики если нет заголовка h2 в вёрстке. Ставим скрытый заголовок.-->
          <h2 class="visually-hidden">Я для семантики</h2>
          <div class="projects__card">
            <span class="projects__span">#портрет</span>
            <picture>
              <source srcset="./img/projects2-320.jpg" media="(max-width: 535px)">
              <source srcset="./img/projects2-768.jpg" media="(max-width: 929px)">
              <source srcset="./img/projects2-1024.jpg" media="(max-width: 1310px)">
              <img class="projects__img" src="img/projects2.jpg" alt="портрет">
            </picture>
          </div>
          <div class="projects__block">
            <a class="projects__link" href="#">
              В своём стремлении улучшить опыт мы упускаем, что явные...
            </a>
            <span class="projects__time">
              <svg width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.6667 1.75004H11.0833V0.583374H9.91666V1.75004H4.08332V0.583374H2.91666V1.75004H2.33332C1.69166 1.75004 1.16666 2.27504 1.16666 2.91671V12.25C1.16666 12.8917 1.69166 13.4167 2.33332 13.4167H11.6667C12.3083 13.4167 12.8333 12.8917 12.8333 12.25V2.91671C12.8333 2.27504 12.3083 1.75004 11.6667 1.75004ZM11.6667 12.25H2.33332V4.66671H11.6667V12.25Z"
                  fill="#999999" />
              </svg>
              28 мая
            </span>
          </div>
        </article>
      </li>
      <li class="projects__item projects__item_small projects__item_3">
        <article class="projects__article">
          <!-- Для семантики если нет заголовка h2 в вёрстке. Ставим скрытый заголовок.-->
          <h2 class="visually-hidden">Я для семантики</h2>
          <div class="projects__card">
            <span class="projects__span">#предмет</span>
            <picture>
              <source srcset="./img/projects3-320.jpg" media="(max-width: 535px)">
              <source srcset="./img/projects3-768.jpg" media="(max-width: 929px)">
              <source srcset="./img/projects3-1024.jpg" media="(max-width: 1320px)">
              <img class="projects__img" src="img/projects3.jpg" alt="предмет">
            </picture>
          </div>
          <div class="projects__block projects__block_1024">
            <a class="projects__link" href="#">
              Равным образом, высокое качество позиционных высокотехнологичная концепция общественного уклада
            </a>
            <span class="projects__time">
              <svg width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.6667 1.75004H11.0833V0.583374H9.91666V1.75004H4.08332V0.583374H2.91666V1.75004H2.33332C1.69166 1.75004 1.16666 2.27504 1.16666 2.91671V12.25C1.16666 12.8917 1.69166 13.4167 2.33332 13.4167H11.6667C12.3083 13.4167 12.8333 12.8917 12.8333 12.25V2.91671C12.8333 2.27504 12.3083 1.75004 11.6667 1.75004ZM11.6667 12.25H2.33332V4.66671H11.6667V12.25Z"
                  fill="#999999" />
              </svg>
              14 мая
            </span>
          </div>
        </article>
      </li>
      <li class="projects__item projects__item_big projects__item_4">
        <article class="projects__article projects__article_big">
          <!-- Для семантики если нет заголовка h2 в вёрстке. Ставим скрытый заголовок.-->
          <h2 class="visually-hidden">Я для семантики</h2>
          <span class="projects__span">#fuji</span>
          <div class="projects__cardBig">
            <span class="projects__time projects__time_white">
              <svg width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.6667 1.75004H11.0833V0.583374H9.91666V1.75004H4.08332V0.583374H2.91666V1.75004H2.33332C1.69166 1.75004 1.16666 2.27504 1.16666 2.91671V12.25C1.16666 12.8917 1.69166 13.4167 2.33332 13.4167H11.6667C12.3083 13.4167 12.8333 12.8917 12.8333 12.25V2.91671C12.8333 2.27504 12.3083 1.75004 11.6667 1.75004ZM11.6667 12.25H2.33332V4.66671H11.6667V12.25Z"
                  fill="#999999" />
              </svg>
              9 апреля
            </span>
            <h3 class="projects__h3 projects__h3_white title-h3">Cемантический разбор</h3>
            <p class="projects__desrc desrc-p">
              В рамках спецификации современных стандартов, интерактивные прототипы
            </p>
          </div>
          <picture>
            <source srcset="./img/projects4-320.jpg" media="(max-width: 535px)">
            <source srcset="./img/projects4-768.jpg" media="(max-width: 929px)">
            <source srcset="./img/projects4-1024.jpg" media="(max-width: 1310px)">
            <img class="projects__img projects__img_big" src="img/projects4.jpg" alt="предмет">
          </picture>
          <button class="projects__button projects__button_4 btn" type="submit">О проекте</button>
        </article>
      </li>
      <li class="projects__item projects__item_big projects__item_5">
        <article class="projects__article projects__article_big">
          <!-- Для семантики если нет заголовка h2 в вёрстке. Ставим скрытый заголовок.-->
          <h2 class="visually-hidden">Я для семантики</h2>
          <span class="projects__span">#проектзабвение</span>
          <div class="projects__cardBig">
            <span class="projects__time projects__time_white">
              <svg width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.6667 1.75004H11.0833V0.583374H9.91666V1.75004H4.08332V0.583374H2.91666V1.75004H2.33332C1.69166 1.75004 1.16666 2.27504 1.16666 2.91671V12.25C1.16666 12.8917 1.69166 13.4167 2.33332 13.4167H11.6667C12.3083 13.4167 12.8333 12.8917 12.8333 12.25V2.91671C12.8333 2.27504 12.3083 1.75004 11.6667 1.75004ZM11.6667 12.25H2.33332V4.66671H11.6667V12.25Z"
                  fill="#999999" />
              </svg>
              20 марта
            </span>
            <h3 class="projects__h3 projects__h3_white title-h3">Забвение</h3>
            <p class="projects__desrc desrc-p">
              Играет важную роль в формировании глубокомысленных рассуждений
            </p>
          </div>
          <picture>
            <source srcset="./img/projects5-320.jpg" media="(max-width: 535px)">
            <source srcset="./img/projects5-768.jpg" media="(max-width: 929px)">
            <source srcset="./img/projects5-1024.jpg" media="(max-width: 1310px)">
            <img class="projects__img projects__img_big" src="img/projects5.jpg" alt="проектзабвение">
          </picture>
          <button class="projects__button projects__button_5 btn" type="submit">О проекте</button>
        </article>
      </li>
      <li class="projects__item projects__item_medium projects__item_6">
        <article class="projects__article">
          <!-- Для семантики если нет заголовка h2 в вёрстке. Ставим скрытый заголовок.-->
          <h2 class="visually-hidden">Я для семантики</h2>
          <div class="projects__card">
            <span class="projects__span">#ретушь</span>
            <picture>
              <source srcset="./img/projects6-320.jpg" media="(max-width: 535px)">
              <source srcset="./img/projects6-768.jpg" media="(max-width: 929px)">
              <source srcset="./img/projects6-1024.jpg" media="(max-width: 1310px)">
              <img class="projects__img" src="img/projects6.jpg" alt="портрет">
            </picture>
          </div>
          <div class="projects__block">
            <a class="projects__link" href="#">
              Как принято считать, многие известные личности и по сей день остаются уделом либералов...
            </a>
            <span class="projects__time">
              <svg width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.6667 1.75004H11.0833V0.583374H9.91666V1.75004H4.08332V0.583374H2.91666V1.75004H2.33332C1.69166 1.75004 1.16666 2.27504 1.16666 2.91671V12.25C1.16666 12.8917 1.69166 13.4167 2.33332 13.4167H11.6667C12.3083 13.4167 12.8333 12.8917 12.8333 12.25V2.91671C12.8333 2.27504 12.3083 1.75004 11.6667 1.75004ZM11.6667 12.25H2.33332V4.66671H11.6667V12.25Z"
                  fill="#999999" />
              </svg>
              9 марта
            </span>
          </div>
        </article>
      </li>
      <li class="projects__item projects__item_medium projects__item_7">
        <article class="projects__article">
          <!-- Для семантики если нет заголовка h2 в вёрстке. Ставим скрытый заголовок.-->
          <h2 class="visually-hidden">Я для семантики</h2>
          <div class="projects__card">
            <span class="projects__span">#портрет</span>
            <picture>
              <source srcset="./img/projects7-320.jpg" media="(max-width: 535px)">
              <source srcset="./img/projects7-768.jpg" media="(max-width: 929px)">
              <source srcset="./img/projects7-1024.jpg" media="(max-width: 1310px)">
              <img class="projects__img" src="img/projects7.jpg" alt="предмет">
            </picture>
          </div>
          <div class="projects__block">
            <a class="projects__link" href="#">
              С учётом сложившейся международной обстановки, новая модель организационной...
            </a>
            <span class="projects__time">
              <svg width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.6667 1.75004H11.0833V0.583374H9.91666V1.75004H4.08332V0.583374H2.91666V1.75004H2.33332C1.69166 1.75004 1.16666 2.27504 1.16666 2.91671V12.25C1.16666 12.8917 1.69166 13.4167 2.33332 13.4167H11.6667C12.3083 13.4167 12.8333 12.8917 12.8333 12.25V2.91671C12.8333 2.27504 12.3083 1.75004 11.6667 1.75004ZM11.6667 12.25H2.33332V4.66671H11.6667V12.25Z"
                  fill="#999999" />
              </svg>
              1 марта
            </span>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>